.dashboard-row-container {
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footnote {
    margin: 2em auto;
    font-style: italic;
    font-size: .9em;
}

.intro-container {
    margin: 2em auto;
    background-color: white;
    line-height: 1.5em;
    border: 1px solid rgb(209, 217, 224);
    border-radius: 5px;
}

.intro-inner-container {
    padding: 1em 1em;
}

.line-graph-container {
    margin: 2em auto;
}

.viz-container {
    width: 48%;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

form {
    padding-top: 1em;
}

label {
    font-weight: bold;
    display: block;
    padding-bottom: .2em;
}

select {
    padding: .5em 1em;
    font-size: 1em;
}

@media (max-width: 800px) {

    .dashboard-row-container {
        margin: 2em auto 0;
        display: flex;
        flex-direction: column;
    }

    .line-graph-container {
        margin: 0 auto;
        margin-bottom: 2.5em;
    }

    .viz-container {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 2.5em
    }

}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid rgb(209, 217, 224);
    margin: 10px auto;
    text-align: left;
    width: 100%;
    max-width: 500px;
    font-weight: 300;
}

.highcharts-data-table {
    background-color: white;
    padding-bottom: 1em;
    margin-top: 2em;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
}

.highcharts-data-table th {
    font-weight: 200;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table [scope='col'] {
    font-weight: 600;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}