.app {
  width: 60%;
  margin: 1em auto;
}

.app-header {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #73000a;
  margin: 0; 
  margin-top: .5em;
}

body {
  background-color: #ECECEC;
}

@media (max-width: 1300px) {
  .app {
    width: 90%;
  }
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: 100%;
  }
}